www/TODO.txt
www/protected/controllers/VVUTestController.php
www/protected/runtime
www/protected/runtime/*
documentation/*.bak
www/assets
www/assets/*
www/uploads/image/*
www/uploads/thumbs/*

www/dev
