body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #fff;
}

#header
{
  margin: 0;
  padding: 0;
  background-color:#424040;
  height:30px;
  border-bottom: 2px solid #000;
}

#page_title {
  width: 129px;
  height:14px;
  background: url(../images/metadatagames.png) 0px 0px no-repeat transparent;
  float:left;
  margin:10px 0px 0px 8px;
}


#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 20px;
	font-size: 0.8em;
	text-align: center;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu {
  float:right;
}

#mainmenu ul
{
  padding:8px 8px 4px 8px;
  margin:0px;
}

#submenu {
  background-color:#555;
  border-bottom:2px solid #222;
}

#submenu ul
{
  float:right;
  padding:6px 8px 6px 8px;
  margin: 0px;
}

#mainmenu ul li,
#submenu ul li {
  display: inline;
  border-left:1px solid #ff0;
}

#mainmenu ul li:first-child,
#submenu ul li:first-child {
  border-left:none;
}

#mainmenu ul li a,
#submenu ul li a
{
  color:#ffffff;
  font-size:14px;
  font-weight:bold;
  padding:5px 8px;
  text-decoration:none;
}

#submenu ul li a {
  font-size:13px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a,
#submenu ul li a:hover, #submenu ul li.active a
{
  color: #FF0;
}


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
	display:none;
}

div.search-form.show
{
  display:block;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

/* mg basics */

h2 {margin:10px 0px 5px 0px;}

.ir {
  display:block;
  text-indent: -3000px;
  outline:none;
}

ul#arcade-games {
  border-top: thin dashed #D7CF01;
  margin: 0px 0px 20px 0px;
  padding:0;
}

ul#arcade-games li {
  list-style: none;
  margin:0;
  padding:20px 0px 20px 0px;
  border-bottom: thin dashed #D7CF01; 
}

ul#arcade-games a.image {
  display: block;
  float: left;
  margin-right:20px;
}

#mg_curtain {
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  height: 100%;
  background:url(../images/ajax-loader.gif) center center no-repeat #000;
}

#XUploadForm_form_container div.row {
  margin-bottom: 10px;
}

#import-process {
  float: right;
}

.grid-view td.image {
  line-height:60px;
}

.grid-view td.image img {
  float:left;
  margin-right:10px;
  vertical-align: bottom;
}

.grid-view td.image span {
  font-weight: bold;
  line-height: 16px;
}

.grid-view td.tags a,
.grid-view td.top-users a {
  font-size:10px;
  color:#000000;
  text-decoration: none;
}

.grid-view td.tags a:hover,
.grid-view td.top-users a:hover {
  color:#666;
}

.form h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}


fieldset.admin-tools {
  float:left;
  width: 230px;
  margin-right:20px;
  border:1px solid #ccc;
  padding:10px;
}

fieldset.admin-tools legend {
  font-size:14px;
}

fieldset.admin-tools h3 {
  font-size:14px;
  font-weight: bold;
  margin-bottom: 5px;
}

/* PlayerSubjectMatter */
td.sm-name {
  font-weight: bold;
}

td.sm-value span {
  display: block;
  margin:5px;
  float: left;
  font-weight: bold;
}

td.sm-value .ui-slider {
  float:left;
  width: 150px;
  margin:7px 10px 3px 10px;
}

td.sm-value input {
  float:left;
  width: 30px;
  font-size: 12px;
  background-color: transparent;
  border:none;
  padding: 2px 0 0;
  text-align: right;
  width: 25px;
  font-weight: bold;
}

#user-tags-listview,
#user-images-listview {
  padding:0 0 20px 0;
}

#user-tags-listview .pager .first,
#user-tags-listview .pager .last,
#user-images-listview .pager .first,
#user-images-listview .pager .last {
  display: none;
}

a.listview-image {
  border: 1px solid #bbb;
  background-color: #eee;
  float: left;
  margin: 0px 5px 5px 0px;
  padding:5px;
  vertical-align: top;
  line-height: 60px;
  text-decoration: none;
  color:#333;
  font-weight: bold;
  line-height: 16px;
}

a.listview-image:hover {
  border: 1px solid #bbb;
  background-color: #ccc;
}

.listview-image img {
  margin-right: 10px;
  vertical-align: bottom;
}



a.listview-tag {
  border: 1px solid #bbb;
  background-color: #eee;
  display: block;
  float: left;
  margin: 0px 5px 5px 0px;
  padding:2px;
  text-decoration: none;
  color:#333;
  font-weight: bold;
  line-height: 16px;
}

a.listview-tag:hover {
  border: 1px solid #bbb;
  background-color: #ccc;
}

a.listview-tag span {} /* here you could style the counter */

div.tag-dialog {
  border: 1px solid #bbb;
  background-color: #eee;
  display: block;
  float: left;
  margin: 0px 5px 5px 0px;
  padding:2px;
  
  color:#333;
  font-weight: bold;
  line-height: 16px;
}

div.tag-dialog a {
  text-decoration: none;
  color:#333;
}

div.tag-dialog a:hover {
  color:#000;
}


div.tag-dialog a span {} /* here you could style the counter */

div.tag-dialog a.edit {
  height:16px;
  width:16px;
  float: right;
  margin-left:5px;
  background: url(../images/edit-small.png) 0px 0px no-repeat transparent;
  text-decoration: none;
}

.list-view .pager {
  clear: both;
}

/* tags tool */
td.top-images a {
  line-height: 30px;
  float: left;
  text-decoration: none;
  vertical-align: top;
}
td.top-images span {
  display: inline-block;
  line-height: 30px;
  margin:0 5px 0 2px;
}
td.top-images img {
  float: left;
  max-width: 43px;
  max-height: 30px;
}
td.tag-info {color: #555;}
td.tag-info h5 {color: #555;margin-bottom: 2px;}
td.tag-info b {color: #000;font-size:14px;}

a.image {
  text-decoration: none;
}

#modalTagDialog ul {
  margin:10px 0 0 0;
  color: #666;
}

#modalTagDialog a {
  text-decoration: none;
  color: #666;
}

#modalTagDialog a:hover {
  color: #000;
}

.detail-view .zoom {
  text-decoration: none;
}

/* requirements */
table.result
{
  background:#E6ECFF none repeat scroll 0% 0%;
  border-collapse:collapse;
  width:100%;
}

table.result th
{
  background:#CCD9FF none repeat scroll 0% 0%;
  text-align:left;
}

table.result th, table.result td
{
  border:1px solid #BFCFFF;
  padding:0.2em;
}

td.passed
{
  background-color: #60BF60;
  border: 1px solid silver;
  padding: 2px;
}

td.warning
{
  background-color: #FFFFBF;
  border: 1px solid silver;
  padding: 2px;
}

td.failed
{
  background-color: #FF8080;
  border: 1px solid silver;
  padding: 2px;
}